@media (max-width: 1200px) {
    .promo {
        padding-bottom: 80px;
        .header {
            justify-content: space-around;
            &__official {
                font-size: 13px;
            }
        }
        .button {
            width: 170px;
            &_main {
                width: 250px;
            }
        }
        &__wrapper {
            margin-right: 40px; 
        }
        &__icons {
            margin-top: 60px;
        }
        &__header {
            font-size: 38px;
            line-height: 38px;
        }
        &__subheader {
            font-size: 20px;
            line-height: 20px;
        }
    }
    .advantages {
        padding: 60px 0 80px 0;
        .title {
            font-size: 28px;
        }
    }
    .consultation {
        padding-left: 40px;
        .title_left {
            font-size: 32px;
        }
        &__descr {
            font-size: 18px;
        }
    }
    .carousel {
        &__inner {
            width: 650px;
        }
        .prev, .next {
            display: none;
        }
        /* .owl-nav {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            font-size: 30px;  
            .owl-prev {
                margin-right: 15px;
            }
        } */
        .owl-dots {
            text-align: center;
            .owl-dot {
                height: 14px;
                width: 14px;
                background-color: #d0d0d0;
                border-radius: 100%;
                margin-right: 14px;
                outline: none;
                transition: 0.5s all;
                &:last-child {
                    margin-right: 0px;
                }
                &:hover {
                    background-color: $main_color;
                }
            }
        }
    }
    .catalog {
        padding-bottom: 80px;
        .title {
            font-size: 28px;
        }
        &__tabs {
            margin-top: 55px;
        }
        &__tab {
            width: 210px;
            height: 48px;
            font-size: 16px;
        }
        &__content {
            justify-content: space-around;
        }
        &-item {
            width: 285px;
            min-height: 420px;
            &__img {
                height: 190px;
            }
        }
    }
    .feedback {
        .title {
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 60px;
        }
        &-item {
            justify-content: space-around;
        }
    }
    .footer {
        height: 550px;
        iframe {
            height: 550px;
        }
        &__info {
            width: 440px;
            height: 250px;
            padding: 40px 58px 50px 58px;
        }
        &__addr {
            margin-bottom: 32px;
            font-size: 18px;
            line-height: 18px;
        }
        &__phone {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 32px;
        }
        &__social-item {
            width: 47px;
            height: 47px;
            margin: 0px 13px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        padding-bottom: 70px;
        .header {
            &__logo {
                width: 220px;
            }
            &__phone {
                font-size: 16px;
            }
            .button {
                width: 150px;
                height: 35px;
                font-size: 13px;
                &_main {
                    width: 260px;
                }
            }
        }
        &__header {
            font-size: 35px;
            line-height: 35px;
        }
        &__icons {
            width: 410px;
        }
        &__icon {
            width: 100px;
            font-size: 13px;
        }
    }
    .advantages {
        padding: 50px 0 60px 0;
        .title {
            font-size: 25px;
        }
        &__wrapper {
            justify-content: space-around;
        }
        &__item {
            width: 225px;
            img {
                margin-bottom: 25px;
            }
        }
        &__subtitle {
            font-size: 16px;
            margin-bottom: 15px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .consultation {
        min-height: 600px;
        padding: 70px 0 70px 40px;
        .title_left {
            font-size: 28px;
        }
        &__descr {
            margin-top: 50px;
            font-size: 16px;
        }
        .feed-form {
            width: 275px;
            input {
                height: 45px;
            }
            .button_submit {
                height: 50px;
                font-size: 14px;
            }
        }
    }
    .carousel {
        padding: 70px 0;
        &__inner {
            width: 625px;
        }
    }
    .catalog {
        padding-bottom: 50px;
        .title {
            font-size: 25px;
        }
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 200px;
            height: 46px;
        }
        &__content {
            justify-content: center;
        }
        &-item {
            margin-left: 7px;
            margin-right: 7px;
            min-height: 400px;
            padding: 20px;
            &__wrapper {
                height: 300px;
            }
            &__img {
                height: 170px;
            }
            &__subtitle {
                margin-top: 15px;
            }
            &__descr {
                margin-top: 10px;
            }
            &__link {
                margin-top: 14px;
                font-size: 13px;
            }
            &__price {
                font-size: 18px;
            }
            .button_mini {
                width: 125px;
                height: 35px;
                font-size: 14px;
            }
            &__list {
                li {
                    font-size: 13px;
                    margin-bottom: 16px;
                }
            }
            &__back {
                font-size: 13px;
                margin-bottom: 7px;
            }
        }
    }
    .feedback {
        .title {
            font-size: 25px;
            line-height: 25px;
            margin-bottom: 50px;
        }
        &-item {
            &__text {
                width: 65%;
                margin-left: 0px;
            }
            &__img {
                min-height: 155px;
                margin-left: 20px;
            }
            hr {
                margin-top: 35px;
                margin-bottom: 40px;
            }
        }
    }
    .footer {
        height: 480px;
        iframe {
            height: 480px;
        }
        &__info {
            width: 405px;
            height: 220px;
            padding: 30px 48px 40px 48px;
        }
        &__addr {
            margin-bottom: 28px;
            font-size: 17px;
            line-height: 17px;
        }
        &__phone {
            font-size: 17px;
            line-height: 17px;
            margin-bottom: 30px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
            margin: 0px 12px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        min-height: 610px;
        padding-bottom: 60px;
        .header {
            padding-right: 50px;
            &__logo {
                width: 215px;
            }
            &__official {
                display: none;
            }
            .menu {
                display: block;
                position: fixed;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 0;
                left: -100%;
                width: 60%;
                height: 100vh;
                padding: 20px 15px;
                background-color: #f6f6f6;
                transition: 0.6s all;
                &_active {
                    left: 0;
                }
                &__item {
                    padding-right: 0;
                    border: none;
                    margin: 15px 0;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: 500;
                }
                &__link {
                    color: black;
                }
            }
            .hamburger {
                display: block;
                position: fixed;
                right: 20px;
                transform: translateY(-50%);
                width: 30px;
                height: 15px;
                span {
                    display: block;
                    height: 3px;
                    width: 100%;
                    background-color: #f6f6f6;
                    margin-bottom: 3px;
                    transition: 0.5s all;
                }
                &_active {
                    span {
                        margin-bottom: -2px;
                        &:first-child {
                            transform: translateY(3px) rotate(-45deg);
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            transform: translateY(3px) rotate(45deg)
                        }
                    }
                }
            }
        }
        &__wrapper {
            margin-top: 80px;
            margin-right: 0;
            align-items: center;
        }
        &__header {
            font-size: 30px;
            line-height: 30x;
        }
        &__subheader {
            margin-top: 8px;
            font-size: 17px;
            line-height: 17px;
        }
        &__icons {
            width: 400px;
            margin-top: 50px;
        }
        .button {
            &_main {
                margin-top: 50px;
                width: 240px;
                font-size: 15px;
            }
        }
    }
    .advantages {
        padding: 40px 0 40px 0;
        .title {
            font-size: 22px;
        }
        &__wrapper {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 247px;
            margin-bottom: 20px;
            img {
                margin-bottom: 15px;

            }
        }
    }
    .consultation {
        padding: 60px 0 50px 40px;
        min-height: 510px;
        .title_left {
            font-size: 21px;
            line-height: 32px;
        }
        &__descr {
            margin-top: 40px;
            line-height: 22px;
        }
        .feed-form {
            width: 260px;
            margin-top: 30px;
            input {
                height: 40px;
            }
            .button_submit {
                height: 45px;
            }
        }
    }
    .carousel {
        padding: 50px 0;
        &__inner {
            width: 500px;
        }
        .owl-dots {
            .owl-dot {
                height: 12px;
                width: 12px;
            }
        }
    }
    .catalog {
        .title {
            font-size: 22px;
        }
        &__tabs {
            margin-top: 35px;
        }
        &__tab {
            width: 140px;
            height: 44px;
            font-size: 14px;
            line-height: 43px;
        }
        &-item {
            width: 240px;
            &__img {
                height: 158px;
            }
            &__descr {
                margin-top: 8px;
            }
            &__subtitle {
                font-size: 15px;
            }
            &__link {
                margin-top: 10px;
                font-size: 12px;
            }
            hr {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            &__price {
                font-size: 16px;
            }
            &__old-price {
                font-size: 13px;
            }
            .button_mini {
                width: 114px;
            }
            &__list {
                li {
                    font-size: 13px;
                    margin-bottom: 13px;
                    line-height: 17px;
                }
            }
            &__content {
                width: 50%;
                margin-right: 0px;
                transform: translateX(-110%);
                transition: 0.5s all;
                &_active {
                    transform: translateX(0%);
                    margin-right: 20px;
                }
            }
        }
    }
    .feedback {
        min-height: 840px;
        padding-bottom: 40px;
        .title {
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 40px;
        }
        &-item {
            &__img {
                width: 25%;
            }
            &__title {
                font-size: 16px;
            }
            &__subtitle {
                font-size: 13px;
                margin-bottom: 15px;
            }
            &__descr {
                font-size: 14px;
            }
            br {
                display: none;
            }
        }
    }
    .footer {
        height: 460px;
        iframe {
            height: 460px;
        }
        &__info {
            width: 360px;
            height: 185px;
            padding: 25px 38px 30px 38px;
        }
        &__addr {
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 16px;
        }
        &__phone {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 25px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            margin: 0px 10px;
            img {
                height: 21px;
            }
        }
    }
}

@media (max-width: 575px) {
    .promo {
        min-height: 550px;
        padding-bottom: 50px;
        .header {
            align-items: center;
            padding-right: 0;
            &__logo {
                width: 220px;
                margin-bottom: 20px;
            }
            &__phone {
                display: none;
            }
            .button {
                display: none;
            }
            .hamburger {
                margin-bottom: 17px;
            }
            .menu {
                width: 70%;
                &__item {
                    font-size: 16px;
                    margin: 17px 0;
                }
            }
            .hamburger {
                width: 28px;
            }
        }
        .button_main {
            margin-top: 50px;
            width: 220px;
            height: 45px;
            font-size: 14px;
        }
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 22px;
            line-height: 20px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__icons {
            width: 310px;
        }
        &__icon {
            font-size: 12px;
            img {
                height: 40px;
            }
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantages {
        padding: 30px 0 40px 0;
        .title {
            font-size: 19px;
        }
        &__wrapper {
            margin-top: 40px;
        }
        &__subtitle {
            margin-bottom: 10px;
        }
    }
    .consultation {
        min-height: 490px;
        padding: 40px 0;
        .title_left {
            text-align: center;
            font-size: 18px;
            line-height: 26px;
        }
        &__descr {
            text-align: center;
            font-size: 15px;
            line-height: 20px;
        }
        .feed-form {
            align-items: center;
            width: 100%;
            .button_submit {
                width: 190px;
                font-size: 12px;
            }
        }
    }
    .carousel {
        padding: 40px 0;
        &__inner {
            width: 80%;
        }
        .owl-dots {
            .owl-dot {
                height: 10px;
                width: 10px;
            }
        }
    }
    .catalog {
        padding-bottom: 30px;
        .title {
            font-size: 19px;
        }
        &__tabs {
            margin-top: 30px;
            flex-wrap: wrap;
        }
        &__tab {
            width: 128px;
            height: 37px;
            font-size: 13px;
            margin-bottom: 8px;
            line-height: 34px;
        }
        &__content {
            margin-top: 30px;
        }
        &-item {
            min-height: 338px;
            padding: 10px 20px;
            &__wrapper {
                height: 260px;
            }
            &__subtitle {
                font-size: 14px;
                margin-top: 10px;
            }
            &__descr {
                margin-top: 5px;
                font-size: 12px;

            }
            &__link {
                margin-top: 8px;
                font-size: 11px;
            }
            &__old-price {
                font-size: 11px;
            }
            &__price {
                font-size: 14px;
            }
            .button_mini {
                width: 112px;
                height: 32px;
            }
        }
    }
    .feedback {
        padding-bottom: 20px;
        .title {
            font-size: 19px;
            line-height: 19px;
            margin-bottom: 20px;
        }
        &-item {
            &__img {
                min-height: 110px;
                width: 35%;
                margin-left: 0px;
                margin-bottom: 8px;
            }
            &__text {
                text-align: center;
                width: 85%;
            }
            &__title {
                font-size: 15px;
                margin-bottom: 5px;
            }
            &__subtitle {
                margin-bottom: 10px;
            }
            &__descr {
                text-align: left;
                font-size: 13px;
            }
            hr {
                margin-top: 20px;
                margin-bottom: 25px;
            }
            &:last-child {
                margin-bottom: 50px;
            }
        }
    }
    .footer {
        height: 450px;
        iframe {
            height: 450px;
        }
        &__info {
            width: 100%;
            height: 150px;
            padding: 25px 38px 30px 38px;
        }
        &__addr {
            margin-bottom: 15px;
            font-size: 15px;
            line-height: 15px;
        }
        &__phone {
            font-size: 15px;
            line-height: 15px;
            margin-bottom: 20px;
        }
        &__social-item {
            width: 38px;
            height: 38px;
            margin: 0px 8px;
        }
    }
}